<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <form name="regForm" ng-hide="reset.hide" ng-submit="reset.savePassword(regData,regForm.$valid,confirmed)" role="form" novalidate>
    <legend> Reset Password</legend>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" name="firstPassword" ng-model="firstPassword" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password">Confirm</label>
      <input type="text" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" class="form-control"
         placeholder="Password">
      <p ng-show="!confirmed">Password do not match</p>
    </div>

    <button type="submit" class="btn btn-primary">reset Password</button>
  </form>


  <div class="jumbotron text-center" ng-show="reset.loading">
    <div class="container">
      <p><span class="glyphicon glyphicon-repeat"></span></p>
      <p>Loading ...</p>
    </div>
  </div>


  <div class="alert alert-success" ng-show="reset.successMsg">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success</strong> {{reset.successMsg}}
  </div>

  <div class="alert alert-danger" ng-show="reset.errorMsg">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{reset.errorMsg}}
  </div>

</body>

</html>